* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #e8e8e8;
}

main {
  flex-grow: 1;
}

/* header */
#header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
}

h1 {
  font-size: calc(5rem + 0.5vw);
  font-weight: 800;
  padding-top: 2rem;
  color: #32373b;
}

/* form */
form {
  text-align: center;
  padding: 15px 0;
}

#todo-input {
  min-width: 40%;
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #f7f7f7;
  box-shadow: 10px 10px 30px #c5c5c5, -1px -1px 10px #c5c5c5;
  font-size: calc(1rem + 2vw);
  font-weight: bold;
  text-align: center;
  color: #ad4304;
  outline: none;
}

::placeholder {
  color: darkgrey;
  font-weight: 800;
}

/* main */

main {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

#content-container {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

li {
  font-size: calc(1rem + 2vw);
  padding: 10px;
  margin: 5px 20px;
  display: flex;
  align-items: center;
  color: #32373b;
  font-weight: 800;
  letter-spacing: 0.1rem;
  box-shadow: 8px 0px 10px #c5c5c5;
  border-radius: 15px;
  background-color: #f7f7f7;
}

/* li when editing */
.item-edit {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: inherit;
  color: #ad4304;
  font-weight: 800;
  letter-spacing: 0.1rem;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 5px;
}

/* checkbox */
li .item {
  flex-shrink: 0;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  background: #f7f7f7;
  border: 2px solid darkgrey;
  appearance: none;
}

/* when checkbox is checked */
li .item:checked {
  box-shadow: inset 0 0 0 20px darkgrey;
  border: none;
}

li .item:checked + span {
  color: darkgrey;
  text-decoration: line-through;
}

/* making the space of the todo */
li span {
  flex-grow: 1;
}

/* delete button */
li button {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  color: darkgrey;
  background-color: transparent;
  /* padding-left: 5px; */
  flex-shrink: 0;
}

/* applies hover features to devices that support it (removed from mobile since it was sticky) */
@media (hover: hover) {
  li button:hover {
    color: #32373b;
    font-size: 1.3rem;
    cursor: pointer;
  }
  li input.item:hover {
    border: 2px solid #32373b;
    cursor: pointer;
  }
}

/* footer  */
#footer {
  padding: 1rem 0;
  text-align: center;
}

#footer span {
  color: darkgrey;
  font-size: 1rem;
}
